<form class="" action="/pokemons/create" method="post">
  <div class="">
    NAME <input type="text" name="name" value="">
  </div>
  <div class="">
    IMAGE <input type="text" name="img" value="">
  </div>
  <div class="">
    WEIGHT <input type="text" name="weight" value="">
  </div>
  <div class="">
    HEIGHT <input type="text" name="height" value="">
  </div>
  <div class="">
    <input type="submit" name="" value="CREATE">
  </div>
</form>
