<h3>Create your pokemon</h3>
<form method="POST" action="/pokemon/new">
	Num: <input type="text" name="num">
	Name: <input type="text" name="pokemonName">
	Img: <input type="text" name="img">
	Weight: <input type="text" name="weight">
	Height: <input type="text" name="height">
	<input type="submit" value="Create Pokemon">
</form>

<div class="container">
	<div class="row">
		{{#each pokemon}}
		<div class="border d-flex flex-column align-items-center pokemon_container">
			<p class="p-2 pokemon_name">{{this.name}}</p>
			<img class="p-2 pokemon_img" src="{{this.img}}">
		</div>
		{{/each}}	
	</div>
</div>