<form action="/pokemons" method="post">

  ID: <input type="text" name="id"><br>
  Num: <input type="text" name="num"><br>
  Name: <input type="text" name="name"><br>
  Weight: <input type="text" name="weight"><br>
  Height: <input type="text" name="height"><br>
  Image Link: <input type="text" name="img"><br>
  <button type="submit">Create Pokemon</button>

</form>
