{{#if loggedIn}}
  <form method='GET' action="../controllers/users/new">
    <button>Log Out</button>
  </form>
{{else}}
  <form method='GET' action="../controllers/users/new">
    <button>Register</button>
  </form>
  <form method='GET' action="../controllers/users/login">
    <button>Log In</button>
  </form>
{{/if}}
<div class="pokemon-list">  
  {{#each pokemons}}
  <div class="pokemon">{{this.name}}</div>
  {{/each}}
</div>    
