{{#if loggedIn}}
  <form method='POST' action="/users/logout">
    <button type="submit">Log Out</button>
  </form>
{{else}}
  <form method='GET' action="/users/new">
    <button type="submit">Register</button>
  </form>
  <form method='GET' action="/users/login">
    <button type="submit">Log In</button>
  </form>
{{/if}}
<div class="pokemon-list">  
  {{#each pokemons}}
  <div class="pokemon">{{this.name}}</div>
  {{/each}}
</div>    
