<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <title>Pokedex</title>
</head>
<body>
  <div class="main-body">
    <h1><a href="/">Pokedex</a></h1>
    {{{body}}}
  </div>
  <footer>&copy; 2018 Better Underdog</footer>
</body>
</html>