<form class="" action="/users/create" method="POST">
  <div class="">
    NAME <input type="text" name="name" autofocus>
  </div>
  <div class="">
    EMAIL <input type="text" name="email">
  </div>
  <div class="">
    PASSWORD <input type="text" name="password">
  </div>
  <div class="">
    <input type="submit" name="SUBMIT" value="SUBMIT">
  </div>
</form>
