<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <form class="user-form" method="POST" action="/users/login">
    <div class="user-attribute">
      name<input name="name" type="text"/>
    </div>

    <div class="user-attribute">
      email<input name="email" type="text"/>
    </div>

    <div class="user-attribute">
      password:<input name="password" type="text"/>
    </div>
    <br>
    <input name="submit" type="submit"/>
  </form>
</body>
</html>
