<div class="page-header">
  <div class="container">
    <h3 class="sub-title">Login User</h3>
  </div>
</div>

<div class="container">
  <form class="" action="/users/login" method="post">
    <div class="input-field">
      <input type="email" name="email" value="" required>
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input type="password" name="password" value="" required>
      <label for="password">Password</label>
    </div>
    <div class="input-field">
      <button class="red lighten-2 waves-effect waves-light btn" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
  <a href="/login/facebook">Log In with Facebook</a>
</div>
