<form class="" action="/users/login" method="post">
  <div class="">
    EMAIL <input type="text" name="email" value="" autofocus>
  </div>
  <div class="">
    PASSWORD <input type="text" name="password" value="">
  </div>
  <div class="">
    <input type="submit" name="submit" value="SUBMIT">
  </div>
</form>
