<form class="user-form" method="POST" action="/users/login">

    <div class="user-attribute">
        name:
        <input name="name" type="text" />
    </div>
    <div class="user-attribute">
        email:
        <input name="email" type="text" />
    </div>
    <div class="user-attribute">
        password:
        <input name="password" type="text" />
    </div>
    <br>
    <br>
    <input name="submit" type="submit" />
</form>