<h2>Register with us today!</h2>
<div class="form-wrapper">
  <form class="left-aligned-form" method="POST" action="/users/new">
  <p>Name:</p>
  <input type="text" name="name">
  <p>Email:</p>
  <input type="text" name="email">
  {{#if duplicateUser}}
  <p class="error-message">This email is already taken.</p>
  {{/if}}
  <p>Password:</p>
  <input type="password" name="password">
  <p><button type="submit" name="submit">Create Account</button></p>
</form>
</div>

<h3>Already a member? <a href="/users/login">Log in here!</a></h3>