<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Account</title>
</head>
<body>
    <h1>Create New Pokemon Account</h1>
    <form class="user-form" method="POST" action="/users">
    <div class="user-attribute">
        Name: <input name="name" type="text"/><br><br>
    </div>
    <div class="user-attribute">
        Email: <input name="email" type="email"/><br><br>
    </div>
    <div class="user-attribute">
        Password: <input name="password" type="password"/><br><br>
    </div>
    <input name="submit" type="submit"/>
    </form>
</body>
</html>