<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create account</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <form class="user-form" method="POST" action="/users">
    <div class="user-attribute">
      name: <input name="name" type="text"/>
    </div>
    <br>
    <div class="user-attribute">
      email: <input name="email" type="email"/>
    </div>
    <br>
    <div class="user-attribute">
      password: <input name="password" type="password"/>
    </div>
    <br>
    <input name="submit" type="submit"/>
  </form>
</body>
</html>
