
<div class="page-header">
  <div class="container">
    <h3 class="sub-title">Telegram Setup</h3>
  </div>
</div>

<div class="container container__center">
  <ol class="telegram-steps">
    <li>Launch a chat session with Mominder by clicking on the image below<br>
      <figure>
        {{!-- <span> --}}
        <a class="tele-figure" href="http://t.me/Mominder_robot" target="_blank"><img class="round-img"  src="/img/mom_125.jpg" /></a>
        <figcaption><i><a href="http://t.me/YourMom_robot" target="_blank">http://t.me/YourMom_robot</a></i></figcaption>
        {{!-- </span> --}}
      </figure>
      </li>
    <li>Send <code>/start</code> to Mominder</li>
    <li>Provide the email address that is registered to your Mominder account</li>
    <li>Click on the Done button below once Mominder confirms that the setup has been successful</li>
  </ol>
  <a class="btn red lighten-2" href="/users/updateTelegram">DONE</a>
</div>
