<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mominder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="test.css">
  <link rel="stylesheet" href="awesomplete.css" />

</head>
<body>
  <script src="awesomplete.js" async></script>
  <!--  SEARCH  -->
  <section class="section section-search teal darken-1 white-text center">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h3>Search Destination</h3>
          <div class="input-field">
            <input class="white grey-text autocomplete" placeholder="BTC, ETH, etc.." type="text" id="autocomplete-input">
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <input id="myinput" />
  </div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script type="text/javascript" src="test.js">

</script>
</body>
</html>
